@import '~bootstrap/dist/css/bootstrap.css';
@import '~src/styles/_configuration';

#Categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    @include media-breakpoint-down(xs) {
        align-items: unset;
    }
    .custom-button {
        background-color: $orange;
        width: 10rem;
        @include mobile-button;

        &:hover {
            color: $black;
            background-color: $ash-grey;
        }
    }
}
