@import "~src/styles/_configuration";
@import "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#MainPage {
    .site-logo {
        background-color: $gray;
        height: 4rem;
        display: flex;
        justify-content: center;
        .title {
            align-self: center;
        }
    }

    .content {
        min-height: calc(100vh - 7rem);
    }

    .site-footer {
        background-color: $gray;
        height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
