@import "~bootstrap/dist/css/bootstrap.css";
@import "~src/styles/_configuration";

#JokeDetails {
    .navigation-bar {
        height: 0;
        .btn-navigation {
            background-color: $ash-grey;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $gray-900;

        .joke-text {
            height: 20rem;
            max-width: 25rem;
            text-align: justify;
        }

        .custom-button {
            background-color: $orange;
            border-color: $gray-900;
            margin-left: auto;
            @include mobile-button;
            &:hover {
                color: $black;
                background-color: $ash-grey;
            }
        }
    }
}
